{{#each this}}
<section>
  <div class="card mb-3 book-search-result">
    <article class="book">
      <form action="/book-search/add-book" method="POST" id="{{bookId}}">
        <div class="card-img-top book-img-label">
          <label class="book-image" id="book-img" for="book-image">
            {{!-- Book Cover:book thumbnail --}}
            {{#if imageLinks.smallThumbnail}}
            <img src="{{imageLinks.smallThumbnail}}">
            {{else}}
            <div class="no-picture-text">
              No Picture Available!
            </div>
            {{/if}}
          </label>
        </div>
        <div class="card-body">
          <h5 class="card-title book-title-label">
            <label class="book-title" id="book-title" for="book-title">
              {{!-- book title --}}
              Title: {{title}}
            </label>
          </h5>
          <p class="card-text book-authors-label">
            <label class="book-authors" id="book-authors" for="book-authors">
              {{!-- authors --}}
              Authors: {{authors}}
            </label>
          </p>
            <div id="add-btn-{{bookId}}" class="btn btn-primary button-container">Add to My Library!</div>
            <div id="add-msg-{{bookId}}" class="hide-before-add">You added this book to your library!</div>
        </div>
      </form>
    </article>
  </div>
</section>
{{/each}}